{% extends 'main.html' %}

{% block content %}
<!-- Inclua esses links no bloco head do seu template principal ou diretamente no template atual -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<div class="container pt-4">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-12">
            <div class="card border-0">
                <div class="card-header">
                    <h5 class="card-title">
                        Artigos do site
                    </h5>
                </div>
                <div class="card-body">
                    {% if not posts %}
                        <div class="col-lg-12">
                            <div class="alert alert-warning" role="alert">
                                Não encontramos resultados para sua busca.
                            </div>
                        </div>
                    {% else %}
                        <table id="posts-table" class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Data de criação</th>
                                    <th scope="col">Criado por:</th>
                                    <th scope="col">Título</th>
                                    <th scope="col">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for post in posts %}
                                <tr>
                                    <th scope="row">{{ post.id }}</th>
                                    <td>{{ post.created }}</td>
                                    <td>{{ post.owner }}</td>
                                    <td>{{ post.name }}</td>
                                    <td>
                                        <a href="" class="btn btn-sm btn-primary">Editar</a>
                                        <a href="" class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza que deseja excluir este post?');">Excluir</a>
                                    </td>
                                </tr>
                                
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready( function () {
        $('#posts-table').DataTable({
            "ajax": {
                "url": "{% url 'posts_data' %}",
                "dataSrc": ""
            },
            "columns": [
                { "data": "id" },
                { "data": "created" },
                { "data": "owner" },
                { "data": "name" }
            ]
        });
    });
</script>


{% endblock %}
